<a href="https://colab.research.google.com/github/OneLearn-github/Introductory_Data_Analytics_Course/blob/main/basic_python_revision/Advanced_Print_Formatting.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

**No1.**<br> 
Given a list as shown below<br>
a = ['Ram',45,'Singh','Years'] 

Using the elements from the above list. 

print the following statement using one single line of code:<br>
'The age of Ram Singh is 45 Years'.

In [ ]:
# given list
a = ['Ram',45,'Singh','Years']
#write the print statement

**No2.**<br>
Write a program which does the following:<br>
STEP1. Take input from the user about his name, age, school, city and sex<br>
STEP2. Form a student dictionary using the above information as keys and save it in variable user_1<br>
STEP3. print the dictionary <br>

For eg, if the user enters following information<br>
name = Dave, age = 45, school = DPS, city = Delhi and sex = Male

Following dictionary is printed<br>
{name:Dave, age:45, school:DPS, city:Delhi, sex:Male}

**No.3**<br>
Take the input from one more user using the above code. Save the information in a new variable user_2.

Create a new list with variable name user_list. This list will contain the variables user_1 and user_2 as the two elements.

Let's suppose <br>
user_1 = {name:Dave, age:15, school:DPS, city:Delhi, sex:Male}
user_2 = {name:Maria, age:14, school:DPS, city:Delhi, sex:Female}

Print the following line using the elements from the list user_list.<br>
We have two users with names Dave and Maria. The sum of their ages are 29.

**No.4**<br>
Given a list, write a Python program to swap first and last element of the list.

Examples: 

Input : [12, 35, 9, 56, 24]<br>
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]<br>
Output : [3, 2, 1]

In [ ]:
# take the below example list 
exp_list = [1,23,4,96]

# print a new list with the output [96,23,4,1]