<a href="https://colab.research.google.com/github/OneLearn-github/Introductory_Data_Analytics_Course/blob/main/basic_python_revision/Data_Type.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# PYTHON INPUT FUNCTION

In the last section we learnt about print function that helps us to output our values on screen.

In this section we will learn how to take user input and then output it.

In [ ]:
# python input() function
language = input()
print(language)

 English

English

we can also give a line infront of input() statement so as to tell users what kind of input we want.

In [ ]:
# python input() function with prompt line
language = input('Enter a language:')
print(language)

Enter a language: English

English

# CODE DEMONSTRATION - OPERATIONS ON VARIABLES

Let's suppose we want to write a program for taking two numbers as input from user and then printing out their division.

In [ ]:
# write python code for taking two numbers as input from user and then dividing them
num1 = input('Enter the first number:')
num2 = input('Enter the second number:')
div_value = num2/num1
print(div_value)

Enter the first number:4
Enter the second number:5

TypeError: ignored

The above code gives error because when we input the numbers using input function, the value saved inside num1 and num2 is a string. Dividing two string is not possible in python.

**How can we check if the values entered as numbers in input() function inside variable num1 is really a string or not?**

* This is equivalent to asking what is the type of variable num1. 

* In the previous section we learnt that type of a variable is determined by the values saved inside the variable, we also learnt three different data types for variables viz. string , number and float.

* For eg. language = 'English' language is a string variable or its data type is string and a_int = 10 a_int is integer variable or data type is integer.

* for checking the type of a variable we can use the function type() to print the variable data type.

In [ ]:
# write python code using type() function
num1 = input('Enter a number: ')
print(type(num1))
print(num1)

Enter a number: 2
<class 'str'>
2

In [ ]:
str1 = 'hi'
print(str1)

hi

From above we can clearly see that num1 is a string variable and that is why our code was failing.

To execute the code properly, we need to convert the string variable num1 into integer variable num1.

we can do so using function int() - it converts string variable to integer variable.

In [ ]:
5# write python code for taking two numbers as input from user, convert them into integers and then add them
num1 = input('Enter the first number:')
num2 = input('Enter the second number:')
div_value = int(num2)/int(num1)
print(div_value)

Enter the first number:4
Enter the second number:5
1.25

now we can see that the code executed properly this time.

# DATA TYPE

Data Type is the classification of variable based on the value saved inside the variable.

For eg. language = 'English' language is a string variable or its data type is string and a_int = 10 a_int is integer variable or data type is integer.

Data Type classification of variable is important in python because as we saw in above code demonstration that we can execute only a few type of operations on a variable of particular data type. For eg. in above case we can not divide two string variables.

Following type of DATA TYPES are available in python.
* Numeric
    * Integer
    * Float
    * Complex numbers
* Boolean - True or False
* Sequence Type 
    * Strings
    * List
    * Tuple
* Set
* Dictionary

We have already learnt the basics of Integer, float and string data types. We will learn more about other data types in upcoming sections. We won't be covering Tuples and Set in this course as they are not required for the final assignment.

In the previous code demonstration we also learnt that we can infer the data type of a variable using type() function.

In [ ]:
a = 10
print(type(a))

b = 0.1
print(type(b))

c = 'English'
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

as we continue to learn other Data Types we will see the output of using type function on them.

# TYPE CONVERSION

In the above code demonstration, we also learnt that we can convert string data type to integer data type.

It is also possible to do following kinds of conversion.
* String to integer and vice versa
* String to float and vice versa
* float to int and vice versa

The above conversions is done using these three functions - int, float and str

In [ ]:
# String to integer and vice versa variable conversion
str1 = '2'
int1 = int(str1)
print(type(str1))
print(type(int1))
print(str1)
print(int1)

<class 'str'>
<class 'int'>
2
2

In [ ]:
int2 = 200
str2 = str(int2)
print(type(int2))
print(type(str2))
print(str2)

<class 'int'>
<class 'str'>
200

In [ ]:
# show wrong uses - wrong type of conversion is not possible - in this case 'hi' can never be converted to integer
str1 = 'hi'
num1 = int(str1)

ValueError: ignored

In [ ]:
# String to float and vice versa variable conversion
str1 = '3.9'
float1 = float(str1)
print(type(str1))
print(type(float1))
print(float1)

<class 'str'>
<class 'float'>
3.9

In [ ]:
float2 = 3.9
str2 = str(float2)
print(type(float2))
print(type(str2))
print(str2)

<class 'float'>
<class 'str'>
3.9

When we convert a float number to integer number then the part before decimal is preserved in the new variable. For eg. 
* float=5.5 integer = 5
* float = 0.1 integer = 0
* float = -1.2 integer = -1

while when we convert integer to float, only a decimal gets added at the end. For eg.
* integer = -2 float = -2.0
* integer = 99 float = 99.0

In [ ]:
# float to int and vice versa conversion
float1 = 99.96
int1 = int(float1)
print(int1)

99

In [ ]:
int2 = 60
float2 = float(int2)
print(float2)

60.0